<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <link rel="stylesheet" href="assets/css/style.min.css">
</head>

<body>
  <div id="app" class="app">
    <p>base price: <input v-model="basePrice" type="text"></p>
    <p>tax included price: <input v-model="taxIncludedPrice" type="text"></p>
    <p>あいうえお</p>
    <p>git diff</p>
  </div>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="assets/js/common.js"></script>
</body>

</html>