<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <link rel="stylesheet" href="assets/css/style.min.css">
</head>

<body>
  <div id="app" class="app">
    <div class="container">
      <div class="wrap">
        <div class="ttl">
          <h1>たいぴんぐげーむ</h1>
        </div>
        <div class="type-area">
          <button class="btn-start" v-on:click="gameStart" v-if="startFlg!=true">すたーと</button>
          <div class="type-question" v-if="startFlg">
            <div class="question">{{ current_question }}</div>
            <div v-if="current_question_counts == question_counts" class="clear">Clear!</div>
            <div class="type-area__form__wrap">
              <input id="typeForm" v-model="typeBox" class="type-area__form" type="text">
            </div>
            <div class="gauge-wrap">
              <div v-bind:style="styleObject" class="gauge"></div>
            </div>
            <div class="count-wrap">
              <p class="count">{{ current_question_counts }}/{{ question_counts }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="assets/js/common.js"></script>
</body>

</html>