@import "../foundation/import";

/* ---------------------------- */
/* main
/* ---------------------------- */

[v-cloak] {
  display: none;
}

.app {
  padding: 20px 0 0 20px;
  min-width: 1020px;
  #btn {
    margin-top: 20px;
  }
  p {
    font-size: 2.4rem;
  }
  pre {
    margin-top: 20px;
    font-size: 1.6rem;
  }
}

