@import "../foundation/import";

/* ---------------------------- */
/* main
/* ---------------------------- */

[v-cloak] {
  display: none;
}

.app {
  padding: 20px 0 0 20px;
  min-width: 1020px;
  p {
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    li {
      font-size: 1.6rem;
      a {
        color: #333;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        margin-left: 8px;
        display: inline-block;
      }
    }
  }
}

